.tabla {
    width: 80%;
    opacity: 0.90;
    float: right;
    background-color: antiquewhite;
    overflow: scroll;
    height: 60%;
}

.gvClientes {
    width: 80%;
    opacity: 0.90;
    float: right;
    background-color: antiquewhite;
    overflow: scroll;
    height: 60%;
}

.fondo {
    background-image: url('../../img/Logo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.iconos {
    width :5rem; 
    height :5rem;
    border-radius: 50% !important;
    margin-right: 0.5rem !important;
}

.barralateral {
    width: 20%;
    height: 100%;
    float: left;
    /*min-width:160px;*/
}

.filaTitle {
    background-color: sienna;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.centrarTabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letrasBlancas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}

.menu-desplegable-color {
    color: aliceblue;
    background-color: #A55129;
    border-color: rgba(0, 0, 0, 0.15);
}
.menu-desplegable-color-bootstrap {
    color: #dee2e6;
    background-color: #343a40;
    border-color: rgba(0, 0, 0, 0.15);
}
.fondoicono {
    background-color: #FFF7E7;
}
.transparente{
    opacity:0.7;
}

/*
saddlebrown, darkgoldenrod, maroon
*/
